#hcname{
    
    font-size: 2.5vh;
    
}
#hsname{
    color: rgba(94, 91, 91, 0.664);;
    margin-left: 6vh;
}
#haname{
    font-size: 0.5;
    margin-top: -1.5vh;
    color: rgba(94, 91, 91, 0.664);
}