.fl{
    border: 1px solid rgba(73, 71, 71, 0.473);
    border-radius: .5vh;
    margin-top: 5vh;
    padding: 2vh;
    background-color: rgba(169, 169, 169, 0.178);
}
.fl button{
    margin-top: 3vh;
    background-color: rgb(252, 190, 77);
}
#sortDB{
    border: none;
    background-color: white;
}
.sortBox{
    background-color: rgba(169, 169, 169, 0.315);
    border-radius: .5vh;
    font-size: 2vh;
}