#cname{
    font-size: 2.2vh;
}
#aname{
    font-size: 0.5;
    margin-top: -1.7vh;
    color: rgba(94, 91, 91, 0.664);
}
#asname{
    font-size: medium;
    margin-left: 6vh;
}

#csname{
    font-weight: bold;
    font-size: 5vh;
}
#dateset{
    font-weight: bold;
    width: 25vh;
}
#tfs{
    font-size: 3vh;
    color: rgba(70, 67, 238, 0.959);
    font-weight: bold;
}