.tic{
    border: 1px solid black;
    margin-left: 2vh;
    padding: 3vh;
}
.fare{
    border: 1px solid rgba(148, 146, 146, 0.541);
}
.ticInfo{
    border: 1px solid rgba(148, 146, 146, 0.541);
    padding: 2vh;
}

#chText{
    font-size: small;
    color: rgb(126, 125, 125);
    padding: 1vh;
}
#ticHe{
    margin-top: -3vh;
    border-bottom: 1px solid darkgray;
}
#ticHes{
    margin-top: -3vh;
    border-bottom:1px dashed darkgray;
}
#city{
    padding-top: 2vh;
}
#ts{
    padding: 2vh;
    text-align: right;
}
.ta{
    border-top:1px dashed darkgray;
}
.iInfo{
    border: 1px solid darkgrey;
    margin-left: 2vh;
    padding: 3vh;
    background-color: lemonchiffon;
}
.radioBtn{
    margin-left: 2vh;
}
.td{
    border: 1px solid black;
    margin-left: 2vh;
    padding: 3vh;
}
#tdH{
    font-weight: bold;
    border-bottom: 1px solid  darkgray;
}
.tdFrame{
    border: 1px solid darkgrey;
    margin-left: 2vh;
    padding: 3vh;
}
.addBtn button{
    border: none;
    color: blue;
    background-color: white;
}